<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style-norma.css">
    <link rel="stylesheet" type="text/css" href="../styleicon-pag.css">
    <!--Icono Principal-->
    <link rel="icon" type="text/css" href="../img/Imagen-icono_programa.ico">
    <title>CEIEG del Estado de México-Normatividad</title>
</head>
<body>
    <header>
        
        <div class="navbar">
            <img src="../img/Encabezado.png" alt="Encabezado" class="img-encabezado">
            <hr class=linea__navbar-gris>
            <hr class=linea__navbar-verde>
            <hr class=linea__navbar-azul>
            <hr class=linea__navbar-amarrillo>
            <img src="../img/LOGO-SNIEG-ENCABEZADO.png" alt="Logo SNIEG" class="logo__navbar--SNIEG">
            <img src="../img/logo-EDOMEX.png" alt="Logo EDOMEX" class="logo__navbar--EDOMEX">
            <img src="../img/logo-inegi.png" alt="Logo INEGI" class="logo__navbar--INEGI">
        </div>
        
    </header>
    <a class="boton cinco" href="../index.html">
        <div class="icono">
            <span class="icon-undo2 svg"></span>
        </div>
        <span class="texto">Regresar</span>
    </a>
    <div class="titulo">
        Normatividad
    </div>

    <a href="#" class="tooltips">
        <span class="icon-info icon-info-respo">
            <span class="caja__info"><b>Normatividad:</b><br><br> Disposiciones normativas fundamentales básicas para el CEIEG en el ejercicio de sus funciones, expedidas por el INEGI en su carácter de Unidad Central Coordinadora del Sistema Nacional de Información Estadística y Geográfica (SNIEG). </span>
        </span>
    </a> 

    <div class="menu__archivos">
        <h2 class="menu__archivos--titulo">SNIEG<span class="icon-file-pdf icon__pdf"></span></h2>
        <ul class="dropdown" id="menu" >
            
                        
                        <!-- <div class="contenido__cuadro1">Cuadro 1</div> -->
                        <ul class="dropdown__sub">

                            <li class="dropdown__li">
                                <a href="##" class="amarillo" id="selected6" onclick="mostrar2();"><span class="icon-file-text icon__file"></span><div class="texto__titulo--text">Ley del Sistema Nacional de Información Estadística y Geográfica (LSNIEG)</div></a>
                            </li>

                            <li class="dropdown__li">
                                <a href="##" class="dropdown__anchor" id="selected7" onclick="mostrar3();"><span class="icon-file-text icon__file"></span><div class="texto__titulo--text">Reglas para la integración y funcionamiento del Consejo Consultivo Nacional (CCN)</div></a>
                            </li>

                            <li class="dropdown__li">
                                <a href="##" class="verde" id="selected8" onclick="mostrar4();"><span class="icon-file-text icon__file"></span><div class="texto__titulo--text">Reglas para la integración y operación de los Comités Técnicos Especializados (RIOCTE)</div></a>
                            </li>

                            <li class="dropdown__li">
                                <a href="##" class="amarillo" id="selected5" onclick="mostrar1();"><span class="icon-file-text icon__file"></span><div class="texto__titulo--text">Código de Ética del Sistema Nacional de Información Estadística y Geográfica (SNIEG)</div></a>
                            </li>
                            
                        </ul>
                    

        </ul>
    

           

        </ul>
    </div>
<!-- DOCUMENTOS -->
    <div class="previsual">
        <div class="previsual__imagen" id="previsual__imagen" style="display: block;">
            <img src="../img/doc/imagen_selecciona.svg" alt="Imagen de bienvenida" class="previsual__imagen--edit">
        </div>
        <!-- Archivo Codigo -->
        <div class="previsual__archivo" id="codigo" style="display: none;">
            <object class="previsual__archivo--tamaño" type="application/pdf" data="../archivos/NORMATIVIDAD/Codigo_Etica_del_SNIEG.pdf"></object>
        </div>
        <!-- Archivo Ley -->
        <div class="previsual__archivo" id="ley" style="display: none;">
            <object class="previsual__archivo--tamaño" type="application/pdf" data="../archivos/NORMATIVIDAD/Ley del SNIEG.pdf"></object>
        </div>
        <!-- Archivo Reglas consejo -->
        <div class="previsual__archivo" id="reglas" style="display: none;">
            <object class="previsual__archivo--tamaño" type="application/pdf" data="../archivos/NORMATIVIDAD/Reglas_consejo_consultivo.pdf"></object>
        </div>
        <!-- Archivo Reglas CTE -->
        <div class="previsual__archivo" id="cte" style="display: none;">
            <object class="previsual__archivo--tamaño" type="application/pdf" data="../archivos/NORMATIVIDAD/Reglas_CTE (comites técnicos especializados).pdf"></object>
        </div>



    </div>
<!--FIN DOCUMENTOS -->



<footer>
    <div class="waves">
        <div class="waves" id="wave1"></div>
        <div class="waves" id="wave2"></div>
        <div class="waves" id="wave3"></div>
        <div class="waves" id="wave4"></div>
    </div>
    
    <div class="footer_menu--redes">
        <h2>Redes Sociales</h2>
        <ul class="social__icon">
            <li><a href="" class="footer_a"><span class="icon-facebook"></span></a></li>
            <li><a href="" class="footer_a"><span class="icon-twitter"></span></a></li>
            <li><a href="" class="footer_a"><span class="icon-youtube"></span></a></li>
            <li><a href="" class="footer_a"><span class="icon-instagram"></span></a></li>
        </ul>
        <img src="../img/logoinegibco.png" alt="Logo Inegi" class="logo_inegi">
            <a href="http://www.facebook.com/pages/inegi-informa/180299958681029">Facebook</a>
            <a href="http://twitter.com/inegi_informa">Twitter</a>
            <a href="https://www.youtube.com/user/INEGIInforma">Youtube</a>
            <a href="https://www.instagram.com/inegi_informa/">Instagram</a>
    
    </div>
    <!-- <div class="footer_menu--enlace">
        <h2>Enlaces</h2>
        <a href="https://www.inegi.org.mx/">INEGI</a>
        <a href="https://www.gob.mx/inmujeres/acciones-y-programas/norma-mexicana-nmx-r-025-scfi-2015-en-igualdad-laboral-y-no-discriminacion">Norma Mexicana <br> NMX R 025 SCFI 2015 en <br> Igualdad Laboral y No Discriminación</a>
        <a href="https://atlasdegenero-semujeres.edomex.gob.mx/">Atlas de Género del Estado de México</a>
        <a href="/inegi/enlaces.html">Enlaces de interés</a>
        <a href="http://cuentame.inegi.org.mx/">Cuéntame de México</a>
    
    </div> -->
    <div class="footer_menu--interes">
        <h2>Sitios de interés</h2>
        <!-- <ul class="social__icon__interes">
            <li><a href="" class="footer_a__interes"><span class="icon-sphere"></span></a></li>
            <li><a href="" class="footer_a__interes"><span class="icon-sphere"></span></a></li>
            <li><a href="" class="footer_a__interes"><span class="icon-sphere"></span></a></li>
            <li><a href="" class="footer_a__interes"><span class="icon-sphere"></span></a></li>
        </ul> -->
        <a href="https://www.snieg.mx/">SNIEG</a>
        <a href="https://www.inegi.org.mx/">INEGI</a>
        <a href="https://edomex.gob.mx/">EDOMEX</a>
        <a href="https://www.snieg.mx/RNIEG/">RNIEG</a>

    
    </div>
    
    <label class="depa">Coordinación Estatal México Poniente </label>
    <p class="copy">Derechos reservados © Departamento de Comité Estatal</p>
</footer>

        <script src="../js/menu-norma.js"></script>
       <!-- Libreria para las alertas -->
       <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
       <!-- carpeta js para alertas -->
       <script src="../controllers/swalertas-norma.js"></script>
</body>
</html>